.header {
  margin: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 25px;
  padding: 2rem;
  padding-inline: 4rem;
  border-radius: 20px;
  max-width: 90%;
  min-width: 50%;
  width: fit-content;
}

.header p {
  font-size: 18px;
}

.header-content {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.header-icon {
  font-size: 2rem;
  margin-right: 1rem;
}

.header-tip {
  display: block;
  margin-top: 0.5rem;
  font-size: 0.9rem;
  color: #a0aec0;
}

.light-glass {
  box-shadow: 10px 6px 20px rgba(121, 140, 145, 0.179);
  background-color: #687a8f0f;
  backdrop-filter: brightness(1.4) blur(6px) saturate(0);
  border-radius: 20px;
  border: 1px solid rgba(208, 208, 208, 0.1);
}

.glass {
  box-shadow: 10px 6px 10px rgba(45, 53, 78, 0.337);
  background-color: #13213554;
  backdrop-filter: brightness(1.6) blur(8px);
  border: 1px solid rgba(155, 175, 194, 0.115);
  border-radius: 20px;
}

.dark-glass {
  box-shadow: 10px 6px 10px rgba(13, 16, 24, 0.706);
  background-color: #0c182437;
  backdrop-filter: brightness(0.9) blur(6px);
  border-radius: 20px;
  border: 1px solid rgba(71, 71, 71, 0.265);
}

.full-btn {
  width: 100%;
  padding: 0.5rem;
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  color: #fff;
  background-color: #96d2e3 !important;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out !important;
}

.full-btn:hover:not(:disabled) {
  background-color: #abedff !important;
  scale: 1.01;
}

.full-btn:disabled {
  background-color: #a0aec0;
  cursor: not-allowed;
}

:deep(.router-link-active) {
  color: red!important;
}