.top-header {
        background-color: #ffffff21;
    backdrop-filter: blur(8px);
    padding-inline: 20px;
    border-radius: 30px;
    box-shadow: 4px 3px 20px #e3e3e380;
margin-top: 15px;
    text-align: center;
    display: flex
;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    margin-bottom: 0;
    font-size: 25px;

}